@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	button
		font-size: 16px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.header-content
		h1
			font-size: 40px
		.logo
			margin-top: 15px
	.intro		
		grid-template-columns: 1fr

	.master
		.grid
			text-align: center
			margin-left: auto
			margin-right: auto
			grid-template-columns: 1fr
			grid-template-areas: "ls1" "ls2" "ls3" "ls4" "ls4" "ls5" "ls5"

	.aft-mk
		.content
			grid-template-columns: 60% 40%
			.list2
				padding-bottom: 15px

	.content
		.points
			.grid
				grid-template-columns: 1fr
				align-content: center
			.list3
				margin-right: auto
				margin-left: auto

	.about
		.content
			grid-template-columns: 1fr
			.img
		.about-grid
			grid-template-columns: 1fr

	.review
		.revs
			grid-template-columns: 1fr
	.reg
		grid-template-columns: 1fr
		img
			display: none
	.timer-grid
		align-items: center

	.main-head-prom
		.header-content
			grid-template-areas: "lg" "tel"
		.tel
			text-align: center
			.logo
				margin-top: 15px
	.cong
		iframe
			width: 300px
			height: 200px

	.prog
		.grid
			grid-template-columns: 1fr

	.tab-grid
		grid-template-columns: 1fr 1fr 1fr 1fr

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

